<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/blog.css">
    <title>blog</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">
            <h1>Localbizz</h1>
        </div>
            <ul>
                <li><a class="active" href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Home</a></li>
            </ul>
    </nav>
</body>
</html>