<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>You have been logged out... success</h1>
    <div class="border-top pt-3">
      <small class="text-muted">
        <a href="{% url 'login' %}"> Log In again</a>
      </small>
    </div>
  </body>
</html>
