<html>
  <head>
    <title></title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <fieldset class= 'form-group'>
      <legend class = "border-bottom mb-4"> Reset Password</legend>
      {{ form.as_p }}
      </feldset>
      <button class="btn" type="submit">Request Password Reset</button>
    </form>
  </body>
</html>
