<html>
  <head>
    <title></title>
  </head>
  <body>
    {% block content %}
    <h1>You have been logged out</h1>
    <div class="alert alert-info">
      An email has been sent with instructions to reset your password
    </div>
    {% endblock content %}
  </body>
</html>
