<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <style>
      .account-img {
        max-width: 75px;
        max-height: 150px;
        border-radius: 35%;
      }
    </style>
  </head>
  <body>
    <div class="content-section">
      <div class="media">
        <img class="account-img" src="{{ request.user.profile.image.url }}" />
        <div class="media-body">
          <h2 class="account-heading">{{ request.user.username }}</h2>
          <p class="text-secondary">{{ request.user.email }}</p>
          <p class="text-secondary">{{ request.user.profile.bio }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Update Your Profile</legend>
          {{ u_form.as_p }} {{ p_form.as_p }}
        </fieldset>
        <button class="btn" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
