<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="..." crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <div class="login-container"> 
    <div class="side-content">
      <div>
        <h2>Welcome Back!</h2>
        <p>Our website welcomes you back for yet another adventure</p>
        <a href="{% url 'register' %}" class="register">Register</a>
      </div>
    </div>
    <div class="login"> 
        <form method="POST"  >
          <h3>Sign Up</h3>
          {% csrf_token %} 
          
          <div class="form-group form-floating">
            <!-- <i class="fa-solid fa-user-tie"></i> -->
            <!-- <label for="{{ form.username.id_for_label }}" class="form-label">Username</label> -->
            {{ form }}
          </div>
        
          <!-- <div class="form-group form-floating">
            <i class="fa-solid fa-envelope"></i>
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.email }}
          </div>
          <div class="form-group form-floating">
            <i class="fa-solid fa-key"></i>
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.password1 }}
          </div>
          <div class="form-group form-floating">
            <i class="fa-solid fa-key"></i>
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.password2 }}
          </div> -->
          <button class="action_button"  type="submit">Create Account</button>
        </form>
        
    </div>
  </div>
  {% endblock content %}
</body>
</html>

<!-- <html>
  <head>
    <title></title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button class="btn" type="submit">Sign Up</button>
    </form>
    <p class="text-muted">
      Already have an account! <a href="{% url 'login' %}"> Sign In</a>
    </p>
  </body>
</html> -->
