<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Order Confirmation</h2>
    <p>Thank you for your order! Your order has been successfully placed.</p>
    <p>Please click the following link to confirm your order:</p>
    <p><a href="{% url 'create_order/<total_price>/' confirmation_token %}">Confirm Order</a></p>
</body>
</html>

